@model IEnumerable<GreatestMovies.Models.Movie>

@{
    ViewBag.Title = "Movies";
}

<h2 class="myHeading">Greatest Movies of All Time</h2>

<p>
    <button class="btn btn-default">@Html.ActionLink("Add Movie", "Create")</button>
</p>


@foreach (var item in Model)
{
    <div class="col-md-4 colBorder">
        <div class="card-block">
            <h4 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h4>
            <div class="meta">
                <p>Genre: @Html.DisplayFor(modelItem => item.Genre.GenreType)</p>
            </div>

            <div class="card-text">
                Release Date: @Html.DisplayFor(modelItem => item.ReleaseDate)
            </div>
            <div class="card-text">
                Gross Box Office: @Html.DisplayFor(modelItem => item.BoxOfficeGross)
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = item.MovieID }) |
                @Html.ActionLink("Details", "Details", new { id = item.MovieID })   
            </p>
        </div>
    </div>
}

