@model IEnumerable<GreatestMovies.Models.Actor>

@{
    ViewBag.Title = "Actors";
}

<h2 class="myHeading">Greatest Actors of All Time</h2>

<p>
    <button class="btn btn-default"> @Html.ActionLink("Add Actor", "Create")</button>
</p>


@foreach (var item in Model)
{
    <div class="col-md-4 colBorder">
        <div class="card-block">
            <h4 class="card-title">@Html.DisplayFor(modelItem => item.ActorName)</h4>
            <div class="meta">
                <p>Born on: @Html.DisplayFor(modelItem => item.DOB)</p>
            </div>
            <div class="card-text">
                Nationality: @Html.DisplayFor(modelItem => item.Nationality)
            </div>
            <div class="card-text">
                Gender: @Html.DisplayFor(modelItem => item.Gender)
            </div>
            <div class="card-text">
                Gender: @Html.DisplayFor(modelItem => item.Gender)
            </div><div class="card-text">
                Gender: @Html.DisplayFor(modelItem => item.Gender)
            </div>
        </div>


        <p>
            @Html.ActionLink("Edit", "Edit", new { id = item.ActorID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ActorID })
        </p>
    </div>
}


